@media (orientation: portrait) {
    .game-page-main {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .game-header {
        margin-top: 2vw;
        margin-bottom: 1vw;
        height: 14vw;
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .game-field-heder-color {
        width: 14vw;
        height: 14vw;
        border-radius: 25%;
    }

    .game-field-heder-color-1 {
        width: 14vw;
        height: 14vw;
        border-radius: 20%;
    }

    .game-field-main {
        margin-top: 1vw;
        margin-bottom: 0vw;
        height: calc(100vh - 25vw - 50px);
        width: 98vw;
        display: flex;
        justify-content: center;
    }

    .game-field {
        max-width: 98vw;
        max-height: calc(100vh - 25vw - 50px);
    }

    .game-field svg {
        max-width: 98vw;
        height: calc(100vh - 25vw - 50px);
    }

    .color-picker-main-0 {
        width: 98vw;
        height: 50px;
        overflow: auto;
    }

    .color-picker-main-1 {
        width: 98vw;
        height: 50px;
        overflow: auto;
    }

    .color-picker {
        display: flex;
        height: 50px;
        width: min-content ;
        flex-direction: row;
        align-items: center;
    }

    .color-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 8px;
    }
}

@media (orientation: landscape) {
    .game-page-main {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        position: relative;
    }

    .game-header {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50px;
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .game-field-heder-color {
        width: 50px;
        height: 50px;
        border-radius: 25%;
    }

    .game-field-heder-color-1 {
        width: 50px;
        height: 50px;
        border-radius: 20%;
    }

    .game-field-main {
        margin-top: 5px;
        margin-bottom: 10px;
        height: calc(100vh - 85px);
        width: 98vw;
        display: flex;
        justify-content: center;
    }

    .game-field {
        max-width: calc(98vw - 50px);
        height: calc(100vh - 85px);
    }

    .game-field svg {
        max-width: calc(98vw - 50px);
        height: calc(100vh - 85px);
    }

    .color-picker-main-0 {
        position: absolute;
        top: 65px;
        left: 0px;
        height: calc(100vh - 90px);
        width: 50px;
        overflow: auto;
    }

    .color-picker-main-1 {
        position: absolute;
        top: 65px;
        right: 0px;
        height: calc(100vh - 90px);
        width: 50px;
        overflow: auto;
    }

    .color-picker {
        display: flex;
        width: 50px;
        flex-direction: column;
        align-items: center;
    }

    .color-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 8px;
    }
}